@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Raleway";
  src: url("./assets/fonts/Raleway-Heavy.ttf");
}

@font-face {
  font-family: "Tahoma";
  src: url("./assets/fonts/TahomaRegular.ttf");
}



@layer components {
  *{
    color:white
  }
  input{
    background-color: transparent;
  }
  
  .noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
  }
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #bfcbce;
    border-radius: 2px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* ... */
}
